<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <!--<filter>
        <filter-name>A9Filter</filter-name>
        <filter-class>A9Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>A9Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 -->
    <servlet>
        <servlet-name>egServlet</servlet-name>
        <servlet-class>egServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>egServlet</servlet-name>
        <url-pattern>/egServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>A7Servlet</servlet-name>
        <servlet-class>A7Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A7Servlet</servlet-name>
        <url-pattern>/A7Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>A8Servlet</servlet-name>
        <servlet-class>A8Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A8Servlet</servlet-name>
        <url-pattern>/A8Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>A10Servlet1</servlet-name>
        <servlet-class>A10Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A10Servlet1</servlet-name>
        <url-pattern>/A10Servlet1</url-pattern>
    </servlet-mapping> <servlet>
    <servlet-name>A10Servlet2</servlet-name>
    <servlet-class>A10Servlet2</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>A10Servlet2</servlet-name>
        <url-pattern>/A10Servlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>A9Servlet</servlet-name>
        <servlet-class>A9Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A9Servlet</servlet-name>
        <url-pattern>/A9Servlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>blogname</param-name>
        <param-value>java652.com</param-value>
    </context-param>
    <context-param>
        <param-name>Author</param-name>
        <param-value>Mr. Bean</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletContext2</servlet-name>
        <servlet-class>ServletContext2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext2</servlet-name>
        <url-pattern>/ServletContext2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletContext1</servlet-name>
        <servlet-class>ServletContext1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext1</servlet-name>
        <url-pattern>/ServletContext1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>A5Servlet2</servlet-name>
        <servlet-class>A5Servlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>A5Servlet2</servlet-name>
        <url-pattern>/A5Servlet2</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>A5Servlet1</servlet-name>
        <servlet-class>A5Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A5Servlet1</servlet-name>
        <url-pattern>/A5Servlet1</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>A3Servlet</servlet-name>
        <servlet-class>A3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A3Servlet</servlet-name>
        <url-pattern>/A3Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
